# JetBrains IDE files
.idea/

# Python cache files
__pycache__/

# Python virtual environments
venv/

# Node modules
node_modules/

# DB files
db.sqlite3

# DURING EARLY DEVELOPMENT, DON'T COMMIT MIGRATIONS, AS THEY
# CAN BE DELETED / RECREATED
# TODO: REMOVE BEFORE RELEASING THE FIRST PRODUCTION VERSION
migrations/[0-9]*.py
